@import './../abstracts/variables';

/* Side navigation Styling starts here */
.sidenav-container .side-navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .menu-item-active {
    background-color: $side-navigation-primaryColor;
  }
}

.dark-theme {
 .side-navigation .menu-item-active {
    background-color: $side-navigation-dark-primaryColor;
  }
}

/* Side navigation Styling ends here */

/* Side drawer display override */
.sidenav-container .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}
