<mat-vertical-stepper>
  <mat-step
    *ngFor="let step of field.fieldGroup; let index = index; let last = last;">
    <!-- Define the edit icon, by default is 'create' -->
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <ng-template matStepLabel>{{ step.templateOptions.label }}</ng-template>
    <formly-field [field]="step"></formly-field>
    <div class="actions">
      <button mat-button matStepperPrevious mat-raised-button
        *ngIf="index !== 0"
        color="primary"
        type="button">
        Back
      </button>
      <button mat-button matStepperNext mat-raised-button
        *ngIf="!last"
        color="primary"
        type="button">
        Next
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>