<div class="row">
  <div class="col-md-12">
    <mat-card>
      <div class="col-12 d-flex justify-content-center">
        <img mat-card-image  class="card-imgs" src="{{ userDetails.img }}" alt="{{ userDetails.fname }}">
      </div>
      <mat-card-title class="d-flex justify-content-center">
        {{ userDetails.fname }} {{ userDetails.lname }}
      </mat-card-title>
      <div style="text-align:center">
        <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
      </div>
      <mat-card-content>
        <div class="d-flex">
          <div class="row">
            <div class="col-12">
              <mat-card-title class="d-flex justify-content-left">
               My Trainer
              </mat-card-title>
            </div>
            <div class="col-12">
              <button mat-raised-button color="primary" routerLink="/users/add-trainers">Add/Remove</button>
              <mat-list>
                <mat-list-item *ngFor="let element of selectedtrainer">
                <a routerLink="/users/details"><img matListAvatar src="{{ element.img }}" alt="{{ element.fname }}">{{ element.fname }} {{ element.lname }}</a>
                </mat-list-item>
               </mat-list>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
