<div class="wrapper__container">
  <div class="content__full-height">
    <div class="table__responsive_wrapper">
        <table
          class="table__hover"
          mat-table
          [dataSource]="measurementDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element">
                {{element.field_health_check_date | date: 'd/MM/yy' }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Arms">
              <th mat-header-cell *matHeaderCellDef> Arms </th>
              <td mat-cell *matCellDef="let element"> {{element.field_arms_nor_pump}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Chest">
              <th mat-header-cell *matHeaderCellDef> Chest </th>
              <td mat-cell *matCellDef="let element"> {{element.field_chest}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="Shoulders">
              <th mat-header-cell *matHeaderCellDef> Shoulders </th>
              <td mat-cell *matCellDef="let element"> {{element.field_shoulders}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="Waist">
              <th mat-header-cell *matHeaderCellDef> Waist </th>
              <td mat-cell *matCellDef="let element"> {{element.field_waist}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="Tummy">
              <th mat-header-cell *matHeaderCellDef> Tummy </th>
              <td mat-cell *matCellDef="let element"> {{element.field_tummy}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="Thigh">
              <th mat-header-cell *matHeaderCellDef> Thigh </th>
              <td mat-cell *matCellDef="let element"> {{element.field_thighs_upr_low}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="Calf">
              <th mat-header-cell *matHeaderCellDef> Calf </th>
              <td mat-cell *matCellDef="let element"> {{element.field_calf}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="Hip">
              <th mat-header-cell *matHeaderCellDef> Hip </th>
              <td mat-cell *matCellDef="let element"> {{element.field_hip}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="Weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.field_weight}} </td>
          </ng-container>

          <tr class="mat-row text-center muted" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              No results found
            </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator
    *ngIf="pager && measurementDataSource.data.length > 0"
      [length]="pager.total_items"
      [pageSize]="pager.items_per_page"
      (page)="onChangedPage($event)">
    </mat-paginator>

  </div>
</div>
