:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .summary{
    display: flex;
    flex-direction: column;
    height: 100%;
    .content{
      // height: 100%;
      flex:1;
    }
  }
}

.content > *{
  display:flex;
  flex-direction: column;
  flex:1;
}
