<!-- <app-attendence-list #mydate  style="display:none;"></app-attendence-list> -->
<!-- <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<form #saveattendence="ngForm" (ngSubmit)=saveMyAttendence(saveattendence)  class="normal-form">
<div class="controles-container">
  Confirm Attendence on {{ currdate | date }}
<div class="form-group">
  <input type="hidden"  name="attend_date" [(ngModel)]="currdate"/>
</div>
  <div class="form-group d-flex justify-content-center">
  <button mat-raised-button color="warn" class="mr-2" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="saveattendence.invalid">Save</button>
  </div>
</div>
</form>
<div class="col-md-3"></div> </div>
</div> -->
<div class="header-part">
<div class="pop-head-content">
  Here is the header
</div>
<div class="pop-head-close">
  <button class="close-button btn" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
</div>

    </div>
    <div class="content-part">

    </div>

