<ng-container *ngFor="let profileData of profile">
  <div class="card profile-card">
    <div class="card-header card-header-danger d-flex">
      <!-- Avatar -->
      <div
        class="card-avatar profile-avatar"
        [matMenuTriggerFor]="imageaction">
        <img
          [src]="profileData.profile_image"
          [default]="config.defaultProfileImg"
          class="rounded-circle mat-elevation-z8"
          width="100px"
          height="100px"
          alt="avatar">
        <span class="material-icons hoverable-icon">
          camera_alt
        </span>
        <mat-menu #imageaction="matMenu" xPosition="after" yPosition="below">
          <button
            mat-menu-item
            (click)="editProfilePic(profileData)">
              Upload Photo
          </button>
        </mat-menu>
      </div>
      <div class="card-title">
        <h4 class="card-title">Edit Profile</h4>
        <p class="card-category">Complete your profile</p>
      </div>
    </div>
    <div class="card-body">
      <form>
          <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>First Name</mat-label>
                  <input matInput [value]="profileData.first_name" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Last Name</mat-label>
                  <input matInput [value]="profileData.last_name" disabled>
                </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Username</mat-label>
                  <input matInput [value]="profileData.username" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput [value]="profileData.email" disabled>
                </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Gender</mat-label>
                  <input matInput [value]="profileData.gender" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Role</mat-label>
                  <input matInput [value]="profileData.role" disabled>
                </mat-form-field>
              </div>
          </div>
          <div class="row" *ngIf="profileData.about_me">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>About me</mat-label>
                <input matInput [value]="profileData.about_me" disabled>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <mat-label>Address</mat-label>
                  <input matInput [value]="profileData.address" disabled>
                </mat-form-field>
              </div>
          </div>
      </form>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <button mat-raised-button color="accent"
          class="btn text-center edit-button"
           (click)="editProfile(profileData)">
           Update Profile
    </button>
  </div>
</div>
</ng-container>
