@import 'abstracts/mixins';

:host {
  height: 100%;
}

.media{
  min-height: 5.25rem;
  margin: 0.25rem 0;
}

.profile__icon {
  @include profile__avatar( $width: 5.25rem , $zoom: 1.1 );
  padding: 0 0.5rem;
}
