<div class="container">
    <div class="my-3 p-3 rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0 text-muted">My trainees</h6>
        <div class="media pt-3 mat-elevation-z5" *ngFor="let trainee of traineeData">
            <div class="profile__icon">
              <img [src]="trainee.profile_image"
                [alt]="trainee.first_name">
            </div>
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark flex-grow-1">{{trainee.first_name}}</strong>
                    <button
                      mat-icon-button
                      aria-label="Click here for more options"
                      matTooltip="Click here for more options"
                      [matMenuTriggerFor]="menu"
                      color="primary">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <!-- Actions sections starts here -->
                    <mat-menu #menu="matMenu">
                      <button
                      mat-menu-item
                      *ngFor="let menu of links"
                      [routerLink]="[ trainee.uid, menu.url ]"
                      skipLocationChange>
                      <mat-icon *ngIf="menu?.icon">{{ menu.icon }}</mat-icon>
                      {{ menu.title }}
                      </button>
                    </mat-menu>
                    <!-- Actions sections ends here -->
                </div>
                <!-- About me section -->
                <span class="d-block" *ngIf="trainee.about_me">
                  {{trainee.about_me}}
                </span>
            </div>
        </div>
    </div>
    <mat-paginator *ngIf="pager && traineeData.length > 0"
      [length]="pager.total_items"
      [pageSize]="pager.items_per_page"
      (page)="onChangedPage($event)">
    </mat-paginator>
</div>
