:host {
  min-height: 100%;
}

.svgContainer {
  position: relative;
  max-width: 6rem;
  margin: 0 auto;
  position: relative;
  max-width: 6rem;
  top: 1rem;
  z-index: 1;
  border-radius: 50%;
  background: none;
  border: solid 2.5px var(--accent, #3a5e77);
  overflow: hidden;
  pointer-events: none;

  &.animateOn {
    animation: pulse 2s infinite;
  }

  & div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
  }

  & .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 var(--primary);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 5px var(--warn);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 var(--primary);
    }
  }
}

/*
*  TBD
*  https://www.sliderrevolution.com/resources/css-animated-background/
*/

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--accent) 50%, var(--primary) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-5;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}