<div class="container">
  <ng-container *ngIf="trainers?.rows && trainers.rows.length > 0 ;else noResultBlock">
    <mat-card *ngFor="let trainer of trainers.rows;let i = index "
    class="example-card mat-elevation-z8 my-2">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="https://material.angular.io/assets/img/examples/shiba1.jpg"
          class="rounded-circle mr-3" width="50x" alt="avatar">
        </div>
        <mat-card-title>{{trainer.first_name}} {{trainer.last_name}}</mat-card-title>
        <mat-card-subtitle>Ratings: 5</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <ng-container *ngIf="hideContact[i]">
          <div class="card-header">
            Contacts
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: {{trainer.email}}</li>
            <li class="list-group-item">Phone: {{trainer.phone}}</li>
          </ul>
        </ng-container>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <button mat-button mat-raised-button color="success">Rate</button>
        <button mat-button color="accent" mat-raised-button
        (click) = "hideContact[i] = !hideContact[i]">
          <ng-container  *ngIf="!hideContact[i]; else elseBlock">
            Show Contact
          </ng-container>
          <ng-template #elseBlock>Hide Contact</ng-template>
        </button>
      </mat-card-actions>
    </mat-card>
    <!-- Pager block -->
    <ng-container *ngIf="trainers.pager">
      <mat-paginator [length]="trainers.pager.total_items"
      [pageSize]="trainers.pager.items_per_page"
      (page)="onChangedPage($event)">
      </mat-paginator>
    </ng-container>
  </ng-container>
  <!-- No results block -->
  <ng-template #noResultBlock>
    <div class="mat-elevation-z8 my-2">
      <p class="info-text mat-body-1 text-center">
        No Results
      </p>
    </div>
  </ng-template>
</div>
