table {
  width: 100%;
}

.mat-header-cell,
.mat-cell{
  justify-content: center;
}

.mat-column-email{
  word-break: break-all;
}

.info-text {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

