// enforce the app content area container to take the entire available space
.app-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  // set the width size of the sidenave
  mat-sidenav {
    width: 250px;
  }
  // sets up the main content area as a flexbox container with a column direction
  .main-content {
    display: flex;
    flex-direction: column;
    // uses flexbox to enforce the app toolbar is always present, even as the user scrolls down through content
    .main-toolbar {
      flex: 0 0 auto;
      z-index: 999;
      .flex-spacer{
        flex-grow: 1;
      }
    }
  }
}

.active{
  background: rgba(223, 190, 190, 0.657);
}


/* Logo section in toolbar */
.logo__container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  .logo__icon{
    max-width:3rem;
    max-height:3rem;
    border-radius: 25%;
    padding: 0.25rem 0;
  }
  .logo__text{
    text-shadow: 5px 5px #558ABB;
  }
}
