<mat-sidenav-container fullscreen class="sidenav-container app-content">
  <mat-sidenav mode="side"
  fixedInViewport="true"
  mode = "over"
  attr.role = "navigation"
  color="primary"
  #sidenav>
  <mat-toolbar color="primary">Menu</mat-toolbar>
  <mat-nav-list class="p-0">
    <mat-list-item routerLink="/" (click)="sidenav.toggle()">
      <mat-icon matListIcon>home</mat-icon>
      <a matLine>Home</a>
    </mat-list-item>
    <mat-list-item routerLink="/profile" (click)="sidenav.toggle()">
      <mat-icon matListIcon>account_circle</mat-icon>
      <a matLine>Profile</a>
    </mat-list-item>
    <mat-list-item routerLink="/registration/reg-user" (click)="sidenav.toggle()">
      <mat-icon matListIcon>add</mat-icon>
      <a matLine>Register User</a>
    </mat-list-item>
    <mat-list-item *ngIf="authService.isLoggedOut$ | async"
    routerLink="/login" (click)="sidenav.toggle()">
      <mat-icon matListIcon>login</mat-icon>
      <a matLine>Login</a>
    </mat-list-item>
    <mat-list-item  *ngIf="authService.isLoggedIn$ | async"
      (click)="sidenav.toggle() && logout()">
      <mat-icon matListIcon>remove</mat-icon>
      <a matLine>Logout</a>
    </mat-list-item>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <loading></loading>
    <mat-toolbar color="primary" class="main-toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 routerLink="/" class="app-brand">
          {{ title }}
        </h1>
        <div class="flex-spacer"></div>
        <toggle-theme></toggle-theme>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="main-content-inner">
      <section class="content-area">
        <messages></messages>
        <router-outlet></router-outlet>
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
