<mat-sidenav-container fullscreen class="sidenav-container app-content">
  <mat-sidenav mode="side"
  fixedInViewport="true"
  mode = "over"
  attr.role = "navigation"
  color="primary"
  #sidenav>
  <mat-toolbar color="primary">Menu</mat-toolbar>
  <mat-nav-list class="p-0">
    <!-- Menu loaded when user is logged in starts here -->
    <ng-container *ngIf="authService.isLoggedIn$ | async">

      <mat-list-item routerLink="/"
      (click)="sidenav.toggle()">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine>Home</a>
      </mat-list-item>


      <mat-list-item routerLink="/profile" routerLinkActive='active'
      (click)="sidenav.toggle()">
        <mat-icon matListIcon>account_circle</mat-icon>
        <a matLine>Profile</a>
      </mat-list-item>


      <ng-container *ngIf="authService.user$ | async  as user">

        <!-- Member Roles Start Here -->
        <ng-container *ngIf="user.role.includes('member')">

          <mat-list-item routerLink="/trainers" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>assignment_ind</mat-icon>
            <a matLine>View my trainer</a>
          </mat-list-item>

          <mat-list-item routerLink="/view/reports/food-chart" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>menu_book</mat-icon>
            <a matLine>My Food Chart</a>
          </mat-list-item>

        </ng-container>

        <ng-container *ngIf="user.role.includes('trainer')">
          <mat-list-item routerLink="/trainees" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>assignment_ind</mat-icon>
            <a matLine>View my trainees</a>
          </mat-list-item>
        </ng-container>
        <!-- Member Roles End Here -->

      </ng-container>


      <mat-list-item
      (click)="sidenav.toggle() && logout()">
        <mat-icon matListIcon>remove</mat-icon>
        <a matLine>Logout</a>
      </mat-list-item>

    </ng-container>
    <!-- Menu loaded when user is logged in ends here-->

    <!-- Menu loaded when user is logged out starts here -->
    <ng-container *ngIf="authService.isLoggedOut$ | async">
      <mat-list-item
      routerLink="/register" routerLinkActive='active'
      (click)="sidenav.toggle()">
      <mat-icon matListIcon>add</mat-icon>
      <a matLine>Register User</a>
    </mat-list-item>

    <mat-list-item
      routerLink="/login" routerLinkActive='active'
      (click)="sidenav.toggle()">
      <mat-icon matListIcon>login</mat-icon>
      <a matLine>Login</a>
    </mat-list-item>

    </ng-container>
    <!-- Menu loaded when user is logged out ends here-->

  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <loading></loading>
    <mat-toolbar color="primary" class="main-toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-brand">
          {{ title }}
        </h1>
        <div class="flex-spacer"></div>
        <toggle-theme></toggle-theme>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="main-content-inner">
      <section class="content-area">
        <messages></messages>
        <router-outlet></router-outlet>
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
