<mat-sidenav-container fullscreen class="sidenav-container app-content">
  <mat-sidenav mode="side"
  fixedInViewport="true"
  mode = "over"
  attr.role = "navigation"
  color="primary"
  #sidenav>
  <mat-toolbar color="primary">
    <div class="logo__container">
      <img [src]="logoIcon" class="logo__icon">
      <span class="logo__text">{{ logoTitle }}</span>
    </div>
  </mat-toolbar>
  <mat-nav-list class="p-0">
    <!-- Menu loaded when user is logged in starts here -->
    <ng-container *ngIf="isLoggedIn">

      <mat-list-item routerLink="/profile" routerLinkActive='active'
      (click)="sidenav.toggle()">
        <mat-icon matListIcon>account_circle</mat-icon>
        <a matLine>Profile</a>
      </mat-list-item>


      <ng-container *ngIf="authService.user$ | async  as user">

        <!-- Member Roles Start Here -->
        <ng-container *ngIf="user.role.includes('member')">

          <mat-list-item routerLink="/trainers" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>assignment_ind</mat-icon>
            <a matLine>My trainer</a>
          </mat-list-item>

          <mat-list-item routerLink="/view/reports/health-report" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>straighten</mat-icon>
            <a matLine>My Health Report</a>
          </mat-list-item>

          <mat-list-item routerLink="/view/reports/food-chart" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>menu_book</mat-icon>
            <a matLine>My Food Chart</a>
          </mat-list-item>

          <mat-list-item routerLink="/view/reports/workout-routine" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>accessibility</mat-icon>
            <a matLine>My Workout Routine</a>
          </mat-list-item>

          <mat-list-item routerLink="/view/reports/fitness-test" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>fitness_center</mat-icon>
            <a matLine>My Fitness Reports</a>
          </mat-list-item>

          <mat-list-item routerLink="/view/reports/weight-monitor" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>monitor_weight</mat-icon>
            <a matLine>My Weight Tracker</a>
          </mat-list-item>

        </ng-container>

        <ng-container *ngIf="user.role.includes('trainer')">
          <mat-list-item routerLink="/trainees" routerLinkActive='active'
          (click)="sidenav.toggle()">
            <mat-icon matListIcon>assignment_ind</mat-icon>
            <a matLine>My trainees</a>
          </mat-list-item>
        </ng-container>
        <!-- Member Roles End Here -->

      </ng-container>


      <mat-list-item
      (click)="sidenav.toggle() && logout()">
        <mat-icon matListIcon>remove</mat-icon>
        <a matLine>Logout</a>
      </mat-list-item>

    </ng-container>
    <!-- Menu loaded when user is logged in ends here-->

    <!-- Menu loaded when user is logged out starts here -->
    <ng-container *ngIf="!isLoggedIn">
      <mat-list-item
      routerLink="/register" routerLinkActive='active'
      (click)="sidenav.toggle()">
      <mat-icon matListIcon>add</mat-icon>
      <a matLine>Register User</a>
    </mat-list-item>

    <mat-list-item
      routerLink="/login" routerLinkActive='active'
      (click)="sidenav.toggle()">
      <mat-icon matListIcon>login</mat-icon>
      <a matLine>Login</a>
    </mat-list-item>

    </ng-container>
    <!-- Menu loaded when user is logged out ends here-->

  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <loading></loading>
    <mat-toolbar color="primary" class="main-toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-brand">
          {{ logoTitle }}
        </h1>
        <div class="spacer"></div>
        <toggle-theme></toggle-theme>
        <!--Notification renders here-->
        <ng-template #notification appHost></ng-template>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="content__full-height">
      <section class="content__full-height">
        <messages></messages>
        <router-outlet></router-outlet>
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
