<div class="title" *ngIf="to?.label">
  <h4>{{ to.label }}</h4>
</div>

<div *ngFor="let field of field.fieldGroup; let i = index;" class="row">
  <formly-field class="col-md-11 col-sm-10 col-xs-10" [field]="field"></formly-field>
  <div class="actions col-md-1 col-sm-1 col-xs-2">
    <button mat-mini-fab aria-label="delete"
    color="warn"
    [disabled]="i < 1"
    type="button"
    (click)="remove(i)">
      <mat-icon>delete</mat-icon>
    </button>
    <button *ngIf="!to.maxItems || to.maxItems > i+1"
      class="ml-1"
      [attr.alt]="to.addText"
      mat-mini-fab aria-label="add"
      color="primary"
      type="button"
      [matTooltip]="to.addText"
      (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
