:host {
  /* Display nested componented with pager at the bootom */
  ::ng-deep view-my-trainers {
    display: flex;
    height: 100%;
    .container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

::ng-deep app-trainers{
  height: 100%;
}

.trainers{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content-row {
  flex: 1;
}