.float-right {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99;
  button {
    height: 3rem;
    min-width:2rem;
    padding: 0;
    opacity: 0.5;
    transition: transform 200ms ease-in-out;
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      box-shadow: -3px 0px 13px 6px #39ff14;
       min-width:4rem;
      animation: nudge 500ms linear;
    }
  }
}

@keyframes nudge {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50%, 0);
  }
}
