<mat-card class="login-card">
  <mat-card-header>
    <div mat-card-avatar class="logo-image"></div>
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-subtitle>To get a verification code, first confirm your identity.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label class="d-flex">Select mode of contact:</label>
        <mat-radio-group aria-label="Select an option" formControlName="mode">
          <mat-radio-button *ngFor="let mode of availableModes" [value]="mode.value">
            {{ mode.display}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <ng-container *ngIf="showField('email')">
        <div>
          <mat-form-field class="field-full-width">
            <mat-label>Email</mat-label>
            <mat-icon matSuffix aria-label="Enter Email">email</mat-icon>
            <input matInput placeholder="Enter Email" formControlName="email">
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngIf="showField('phone')">
        <div>
          <mat-form-field class="field-full-width">
            <mat-label>Mobile</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input  type="tel" matInput placeholder="Enter Phone Number" formControlName="phone">
          </mat-form-field>
        </div>
      </ng-container>
      <p class="notice"><a routerLink="/reset-password">Already have an OTP?</a></p>
      <div class="actions">
        <button
          mat-raised-button
          color="warn"
          type="button" routerLink="/login">
          <mat-icon>login</mat-icon>
          Login
        </button>
        <button mat-raised-button color="primary"
        [disabled]="form.invalid">
        <mat-icon>send</mat-icon>
        Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
