:host {
    display: flex;
    justify-content: center;
    min-height: 100%;
    align-items: center;
  }

  .login-card{
    .field-full-width{
      width: 100%;
      min-width: 15rem;
    }
    .show-password{
      cursor: pointer;
    }
    .actions {
      display: flex;
      justify-content: space-evenly;
    }
  }

.mat-radio-button ~ .mat-radio-button {
  margin-left: 1rem;
}
