:host {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-card{
    .field-full-width{
      width: 100%;
      min-width: 15rem;
    }
    .mat-radio-button ~ .mat-radio-button {
      margin-left: 1rem;
    }
    .clear{
      cursor: pointer;
    }
    .actions {
      display: flex;
      justify-content: space-evenly;
    }
  }
