<!-- <h2 mat-dialog-title>{{course.description}}</h2> -->

<!-- <loading></loading> -->

<!-- <messages></messages> -->

<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input matInput
           placeholder="First Name"
           formControlName="first_name">

  </mat-form-field>

  <mat-form-field>

    <input matInput
           placeholder="Last Name"
           formControlName="last_name">

  </mat-form-field>

  <mat-form-field>
        <textarea matInput placeholder="Address"
                  formControlName="address">
        </textarea>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>
  <button class="mat-raised-button mat-primary" #saveButton 
    [disabled]="form.invalid" (click)="save()">
    Update
  </button>
</mat-dialog-actions>