<mat-dialog-content [formGroup]="profileForm">

  <mat-form-field class="field-full-width">
    <mat-label>First Name</mat-label>
    <input
    required
    matInput
    placeholder="Enter first name"
    formControlName="first_name">
  </mat-form-field>

  <mat-form-field class="field-full-width">
    <mat-label>Last Name</mat-label>
    <input
    matInput
    required
    placeholder="Enter last name"
    formControlName="last_name">
  </mat-form-field>

  <div class="field-full-width">
    <mat-label class="d-flex">Gender</mat-label>
    <mat-radio-group aria-label="Select an option" formControlName="gender">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
      <mat-radio-button value="Others">Others</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field class="field-full-width">
    <mat-label>Address</mat-label>
    <input
    matInput
    required
    #address
    maxlength="45"
    placeholder="Enter your current address."
    formControlName="address">
    <mat-hint align="end">{{address.value.length}} / 45</mat-hint>
  </mat-form-field>

  <mat-form-field class="field-full-width">
    <mat-label>About me</mat-label>
    <textarea
      matInput
      #about_me
      placeholder="Tell us something about yourself"
      formControlName="about_me">
    </textarea>
    <button
      mat-button
      *ngIf="about_me.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="about_me.value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-around">
  <button
    class="mat-raised-button"
    (click)="close()">
    Close
  </button>
  <button
    class="mat-raised-button mat-primary"
    #saveButton
    [hidden]="profileForm.invalid"
    (click)="save()">
    Update
  </button>
</mat-dialog-actions>
